@font-face {
  font-family: "PIX_lite";
  src: local("PIX_lite"),
    url("./fonts/PIX_lite.ttf") format("truetype");
    font-display: block;
}

@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P"),
    url("./fonts/PressStart2P.ttf") format("truetype");
    font-display: block;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  #overlay:after {
    content: "turn your phone";
    background-color: #000;
    color: #fff;
    font-family: "PIX_lite";
    position: absolute;
    z-index: 1;
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    pointer-events: none;
    z-index: 4;
  }
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;

  /* Allow mouse dragging. */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* disable touch panning/zooming */
  -ms-touch-action: none;
  touch-action: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root canvas {
  margin: auto;
  /* Hide the gap for font descenders. */
  display: block;
  position: relative;
  height: 100vh !important;
  width: 100vw !important;
  object-fit: cover;
}

#x_joystick {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  width: 30%;
  z-index: 1;
}

#y_joystick {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
  width: 30%;
  z-index: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.digits {
  /* font-family: "PIX_Lite"; */
  /* color:#ED17B8;
  letter-spacing: 3px;
  filter: drop-shadow(0px 0px 2px white);
  text-shadow: 0 0 4px white;*/
}